body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit";
}

.main {
  width: 300px;
  height: auto;
  border-radius: 12px;
  background-color: white;
  border: none;
  padding: 35px;
  text-align: center;
}

.skill {
  color: hsl(213, 17%, 49%);
  opacity: 0.1px;
}

.code {
  width: 50x;
  height: 300px;
  padding: 20px;
  border-radius: 30px;
  margin-top: -35px;
  margin-left: -20px;
}
